@font-face
{
    font-family: myFont;
    src: url("GenzschEtHeyseAlt.ttf");
}

@font-face
{
    font-family: muFirstLetterFont;
    src: url("AlexBrush-Regular.ttf");
}

@font-face
{
    font-family: headlineFont;
    src: url("boston_traffic.ttf");
}

@font-face
{
    font-family: regularText;
    src: url("BreeSerif-Regular.otf");
}

.paper
{
    font-family: regularText, arial, sans-serif;
    background: url(old-paper-background-texture.jpg);
    background-size: cover;
}

.paper .first,
.paper .second
{
    display: inline;
}


#font
{
    position: inherit;
}

label[for="size"],
label[for="extraFont"]
{
    padding-right: 10px;
    border-right: solid 3px #000;
}

#size:checked ~ .paper
{
    font-size: larger;
}

#theme:checked ~ .paper
{
    background: url(staraya_zheltaya_bumaga_2560x1600.jpg);
    color: #fff;
}

#theme:checked ~ .paper div,
#theme:checked ~ .paper header h2,
#theme:checked ~ .paper .important h1
{
    -webkit-column-rule-color: #fff;
    border-color: #fff;
}

#font:checked ~ .paper article,
#font:checked ~ .paper article h1,
#font:checked ~ .paper header h1,
#font:checked ~ .paper header h2,
#font:checked ~ .paper article p:first-letter
{
    font-family: arial, sans-serif;
}

#extraFont:checked ~ .paper article,
#extraFont:checked ~ .paper article h1,
#extraFont:checked ~ .paper header h1,
#extraFont:checked ~ .paper header h2,
#extraFont:checked ~ .paper article p:first-letter
{
    font-family: Monaco, cursive;
}

.paper .first
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    column-count: 3;
    -webkit-column-rule: 2px solid #000;
    -webkit-column-count: 3;
    text-align: justify;
    padding-right: 10px;
    border-right: 2px double #000;
    width: 55%;
}

.paper .second
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    column-count: 2;
    -webkit-column-rule: 2px solid #000;
    -webkit-column-count: 2;
    text-align: justify;
    width: 40%;
}

main .paper
{
    float: left;
}

main article img
{
    width: 100%;
}

.paper header
{
    margin-top: 20px;
    text-align: center;
}

.paper header h1
{
    font-family: myFont, sans-serif;
    font-size: 60px;
    font-weight: 600;
}

.paper header h2
{
    font-family: regularText, arial, sans-serif;
    font-size: smaller;
    padding: 10px;
    border-bottom: double 5px;
    border-top: double 5px;
    border-bottom-color: #000000;
}

.paper h1
{
    margin: 10px;
    text-align: center;
    font-family: headlineFont, arial, sans-serif;
    text-shadow: 1px 1px #000;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}

.paper p:first-letter
{
    font-family: muFirstLetterFont, sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 40px;
}

.paper .second .important
{
    -webkit-column-span: all;
    column-span: all;
    font-size: larger;
}

.paper .second .important h1
{
    border-top: solid #000;
    border-bottom: solid #000;
    margin-top: 30px;
    padding: 10px;
}

.paper .second .important p
{
    padding-left: 20px;
    padding-right: 20px;
}
